.List > input {
    width:100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 15px 0px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid lightblue;
}

.List .todos_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 20px;
}